* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  background-color: rgb(203, 229, 229);
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 220px;
  margin: 20px;
  padding: 20px;
}

input {
  margin: 5px 10px 5px 35px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

button {
  background-color: rgb(244, 53, 53);
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  margin: 0 50px 0 65px;
}

.card {
  padding: 20px;
  margin: 30px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(168, 168, 222);
  width: 300px;
  height: 400px;
}

.foto {
  width: 100px;
  object-fit: cover;
}

p {
  padding: 10px;
}

.prog {
  width: 200px;
  height: 10px;
}
.progShow {
  background-color: green;
  width: 50%;
  height: 10px;
}
